*{
    text-align: center;
    box-sizing: border-box;
  
     
}
#blank_form{

    background-color: bisque;
    width: 300px;
    height: 250px;
    padding-top: 20px;
}
h3
{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;   
}
h6
{
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;;
}
button
{
    border-color: bisque;
    font-family: 'Roboto', sans-serif; 
}

#car
{
    width: 300px;
    height: 350px;
}
p
{
    font-family: 'Roboto', sans-serif;
}
#amount
{
    color: red;
    font-family: 'Roboto', sans-serif;
}
